body{
    background: url(../img/agua.svg) no-repeat;
    background-size: cover;
    background-color: #000000;
    color: #1c0441;
}



.table th{
    font-size: small;
    color: rgb(255, 255, 255);
    background-color: #254992de;
    
}

.table td{
    font-size: small;
    color: rgb(255, 255, 255);
    background-color: #254992de;
    
}

img{
    height: "150rem";
    align-items: center;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}
